:root{
  --text_rule1: "• Debe contener exactamente 8 caracteres";
  --text_rule2: "• Debe contener al menos un número";
  --text_rule3: "• Debe contener al menos una letra mayusculas";
  --text_rule4: "• Debe contener al menos un caracter especial";
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #15222E;
  color: #fcbe24;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI','Open Sans', sans-serif;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.infoPassword {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  color:#c4c4c4bf;
  font-weight: lighter;
}
input {
  height: 42px;
  width: 75%;
  padding: 12px;
  color: #c4c4c4bf;
  font-size: 16px;
  border-radius: 6px;
  border: solid .75px rgb(128, 128, 128);
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border-color:#b7eeaa;
  outline: none;
}
.rules{
  display: flex;
  flex-direction: column;
}
.instructions{
  font-size: 14px;
  padding: .5em;
  color: white;
}
.infoCondition{
  padding: 12px;
  font-size: 14px;
  color:#c4c4c4bf;
  font-weight: lighter;
}
#rule-1::before{
  content: var(--text_rule1);
}
#rule-2::before{
  content: var(--text_rule2);
}
#rule-3::before{
  content: var(--text_rule3);
}
#rule-4::before{
  content: var(--text_rule4);
}
